body {
	background: #ece4ca;
	font-family: "futura-pt", sans-serif;
}

h1 {
	text-align: center;
	font-family: "futura-pt-bold", sans-serif;
}

#mainwidth {
	width: 850px;
	height: auto;
	padding: 2px 20px;
	background-color: white;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#tooltip {
	position: absolute;
	width: 300px;
	height: auto;
	padding: 15px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}

#chart {
	text-align: center;
}

#outro {
	text-align: center;
}