/* TYPOGRAPHY */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "futura-pt", sans-serif;
    color: #f4eedf;
    background-color: #272924;
}

h1 {
    padding-top: 20px;
    font-size: 45px;
}

h2 {
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    padding: 10px 0;
}

.fineprint {
    text-align: left;
    font-size: 14px;
    color: #666666;
    margin: 0 10px;
}

#credits {
    padding: 0;
}

a {
    color: #6f9b94;
    text-decoration: none;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

a:hover {
    color: #8EC7BF;
}


/* CONTAINER */

#mainwidth {
    width: 90%;
    max-width: 850px;
    height: auto;
    padding: 2px 20px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/* HEADER */

#header {
  padding: 0;
  border-bottom: 2px #8080801f solid;
}

.button {
    height: 40px;
    width: auto;
}

#nextlogo {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    text-align: center;
    padding-inline-start: 0;
}

nav ul li {
    text-transform: uppercase;
    font-weight: 600;
    list-style: none;
    display: inline-block;
    padding: 10px 4px;
}


/* CHART */

#tooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 15px;
    background: #f4eedf;
    color: #272924;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 2px
}

#chart {
    text-align: center;
}


/* OUTRO */

#outro {
    text-align: center;
}

/* FOOTER */

#footer {
    border-top: 2px #8080801f solid;
    margin-top: 20px;
}

/* SERIES INTRO */

#seriesintro {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#serieslogo {
    width: 250px;
}
