/* TYPOGRAPHY */

* {
margin: 0;
padding: 0;
}

body {
	font-family: "futura-pt", sans-serif;
	color: #f4eedf;
	background-color: #272924;
}

h1 {
	padding-top: 20px;
	font-size: 45px;
}

h2 {
	padding-bottom: 10px;
}

p {
	font-size: 18px;
	padding: 10px 0;
}

a {
	color: #69938d;
	text-decoration: none;
}

/* CONTAINER */

#mainwidth {
	width: 90%;
	max-width: 850px;
	height: auto;
	padding: 2px 20px;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* HEADER */
#header {
	display: inline-block;
}

.button {
	height: 40px;
	width: auto;
}

.right {
	float: right;
}

#nextlogo {
		margin-top: 10px;
}

#seriestitle {
	padding-top: 17px;
}

/* CHART */

#tooltip {
	position: absolute;
	width: 300px;
	height: auto;
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
    padding: 0;
}

#chart {
	text-align: center;
}

/* OUTRO */

#outro {
	text-align: center;
}

/* SERIES INTRO */

#seriesintro {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#serieslogo {
	width: 250px;
}
