body {
  background: #ece4ca;
  font-family: "futura-pt", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 1fr;
  grid-gap: 5px;
}

h1 {
  text-align: center;
  font-family: "futura-pt-bold", sans-serif;
}

#logo {
  grid-column: 1 / 2;
}

#menu {
  align-items: left;
  grid-column: 2 / -1;
  text-decoration-color: aliceblue;
}

#intro {
  padding: 2px 20px;
  margin: 0 auto;
}

#chartgoeshere {
  background-color: whitesmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#footer {
  padding: 2px 2px;
  grid-column: -2 / -1;
}

#tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}


@media (orientation: portrait) {
  main {
    grid-template-columns: 1fr;
  }
  #logo {
    grid-column: 1 / -1;
    text-align: center;
  }
  
  #menu {
    grid-column: 1 / -1;
    text-align: center;
  }
  
  #intro {
    grid-column: 1 / -1;
  }
  
  #chartgoeshere {
    grid-column: 1 / -1;
  }
  
  #footer {
    grid-column: 1 / -1;
    text-align: center;
  }
}